<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <title>Eventbild - logga in</title>
    <meta name="author" content="Mattias Jonsson">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/c.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/stylesheet.css') }}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148828565-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-148828565-2');
    </script>
</head>


<body>
    <br />
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <img class="mx-auto d-block p-2 mb-1" src="{{ url_for('static', filename='assets/img/c.png') }}" style="width: 40%">
                        <div id="fail-login-div"></div>
                        <form action="login" method="POST" id="login-form">
                            <div class="form-group">
                                <input class="form-control" type="text" name="user_name" id="user_name" placeholder="Användarnamn"/>
                            </div>
                            <div class="form-group ">
                                <input class="form-control" type="password" name="password" id="password" placeholder="Lösenord" />
                            </div>
                            <div class="form-gorup">
                                <button class="btn btn-primary btn-block" onclick="tryLogin()">Logga in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript " src="{{ url_for( 'static', filename='node_modules/jquery/dist/jquery.min.js' ) }} "></script>
    <script type="text/javascript " src="{{ url_for( 'static', filename='node_modules/popper.js/dist/umd/popper.min.js' ) }} "></script>
    <script type="text/javascript " src="{{ url_for( 'static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js' ) }} "></script>
    <script type="text/javascript " src="{{ url_for( 'static', filename='node_modules/angular/angular.min.js' ) }} "></script>

    <script>
        window.onload = function() {
            $('.alert').alert()
            
            // Check browser.
            var chrome = navigator.userAgent.indexOf("Chrome") !== -1;
            var firefox = navigator.userAgent.indexOf("Firefox") !== -1;

            if (!(firefox || chrome)) {
                $("body").prepend(`
                <br/>
                <div class="container">
                    <div class="alert alert-danger" role="alert">
                        VARNING: Det verkar som att du använder en webbläsare som inte stödjs. Använd Chrome eller Firefox.
                    </div>
                </div>
                `);
            }
        }

        function failLogin() {
            $("#fail-login-div").html(`
                <div class="alert alert-danger alert-dismissible mt-3">
                Felaktigt användarnamn eller lösenord
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>`);
        }

        function tryLogin() {
            $("#login-form").submit(function(e) {
                e.preventDefault();

                var form = $(this);
                var url = form.attr("action");
                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(),
                    success: function(data) {
                        if (data.success) {
                            window.location = data.redirect;
                        } else {
                            failLogin();
                        }
                    }
                });
            });
        }
    </script>

</body>

</html>